{% extends 'reportbrod/bases/base.html'%}
{% load static %}
{% load i18n %} 

{% block title %}
		{% trans "title_add1" %}
		{% endblock %}

{% block content %}
<div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin row -->
        <div class="row">
            <div class="col-md-12 m-b-30">
                <!-- begin page title -->
                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                    <div class="page-title mb-2 mb-sm-0">
                        <h1>{% trans "title_add" %}</h1>
                    </div>
                    <div class="ml-auto d-flex align-items-center">
                        <nav>
                            <ol class="breadcrumb p-0 m-b-0">
                                <li class="breadcrumb-item">
                                    <a href="/"><i class="ti ti-home"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="{% url 'reportbroD:list' %}">{% trans "app" %}</a> 
                                </li>
                                <li class="breadcrumb-item active text-primary" aria-current="page">{% trans 'subtitle_add' %}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end page title -->
            </div>
        </div>
        <!-- end row -->
        <!-- begin row -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card card-statistics">
                    <div class="card-header">
        
                    </div>
     {% include 'reportbrod/formulario.html' %}

    </div>
</div>


</div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</div>

{% endblock %}